<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ecosort_logo_styled"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ecosort_logo_styled"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImageClassifier"
        tools:targetApi="31">


        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OnboardingActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ResultActivity" />
        <activity
            android:name=".KnowledgeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".HelpActivity" />
        
    </application>

</manifest>